h1 { 
    color: white;
    font-size: 50px;
    margin: 20px;
    padding: 5px;
    text-align: justify;
}
h2 { 
    color: white;
    font-size: 30px;
}
h3 { 
    color: black;
    font-size: 30px;
}
p {
    color: white;
}
footer {
    color: black;
}
body {
    background-color: steelblue;
}